/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #00A1DE;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

.hero-image {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

/* Main Section */
main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.data-card, .weather-card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 300px;
}

.data-card h2, .weather-card h2 {
    background-color: #20603D;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

ul {
    list-style-type: none;
}

footer {
    background-color:  #00A1DE;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .info-section {
        flex-direction: column;
        align-items: center;
    }
    
    :root {
        --primary-color:  #20603D;
        --secondary-color: #abd1c6;
        --font-family: 'Roboto', sans-serif;
        --font-size-base: 16px;
    }
          
    }    
    .data-card, .weather-card {
        width: 90%;
    }

    /* SVG icon for mobile view */
    .weather-card h2::before {
        content: url('weather-icon.svg');
        display: inline-block;
        margin-right: 10px;
        width: 24px;
        height: 24px;
    }
    .weather-card::after {
        content: "🌤️"; /* Add a weather icon */
        font-size: 2rem;
        margin-left: 10px;
    }    
}